{% load static i18n %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}SODP{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="sodp project">
    <meta name="author" content="Yolanda Robla">
    <meta name="google-signin-client_id" content="{{ GOOGLE_CLIENT_ID }}">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    {% bootstrap_css %}         {# Embed Bootstrap CSS #}


      <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700%7COpen+Sans:300,400,500" rel="stylesheet">

    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}"> <!-- Resource style -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}"> <!-- Resource style -->

    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS and its dependencies-->
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
      {{ form.media }}            {# Adds date-picker required JS and CSS #}
      
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body class="boxed-layout">

    <div class="wrapper">
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container container">
          <a class="navbar-brand" href="{% url 'home' %}">SODP</a>

          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            {% if request.user.is_authenticated %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link js-scroll-trigger" href="{% url 'users:detail' request.user.username  %}">{% trans "Dashboard" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link js-scroll-trigger" href="{% url 'reports:reportslist' %}">{% trans "Reports list" %}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'users:credentials' %}">{% trans "Credentials" %}</a>
              </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a class="nav-link js-scroll-trigger" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
              </li>
            {% else %}

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'about' %}">{% trans "About" %}</a>
            </li>
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link js-scroll-trigger" href="{% url 'faqs:faqslist' %}">{% trans "Faqs list" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'demo' %}">Demo</a>
            </li>
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link js-scroll-trigger" href="/memberful/memberful/login/?process=login">{% trans "Sign In" %}</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="main" class="main">
      <div class="hero">

      {% if messages %}
          {% for message in messages %}
              <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
          {% endfor %}
      {% endif %}

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </div>
</div>

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
  </body>
</html>
