{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<br>
<h2>{% trans "FAQS" %}</h2>
<br>
{% if object_list.count == 0 %}
  <p>{% trans "Sorry ... we are still working on it" %}</p>
{% else %}
  <ul class="prc_features">
        {% for faq in object_list %}  
        <li>
          <img src="/static/icons/tick.png" width="14" alt="Tick">          
          <span class="question"> {{faq.question}} </span>

        </li>
          <li>
            <span>{{faq.answer}}</span>
          </li>
      {% endfor %}

  </ul>
  {% endif %} 
{% endblock %}