{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<br>
<h2>{% translate "Enter a new url" %}</h2>
<br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">url</th>
          <th scope="col">fechaDesde</th>
          <th scope="col">user</th>
        </tr>
      </thead>
      <tbody>
        {% for report in reports %}
          <tr>
            <th scope="row"> {{report.id}} </th>
            <td>{{report.url}</td>
            <td>{{report.fechaDesde}}</td>
            <td>{{report.user}}</td>
          </tr>
       {% endfor %}

      </tbody>
    </table>  

    <button type="submit" class="btn btn-primary">{% translate "Create new report" %}</button>
  </form>
{% endblock %}
