{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h2>{% trans "Sign In" %}</h2>
<br>
{% get_providers as socialaccount_providers %}


<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

</div>

{% include "socialaccount/snippets/login_extra.html" %}


{% endblock %}
