{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block content %}

{% if object == request.user %}
<div>
  <p>{% trans "Reports" %}: {{ reportCount }}</p>
  <p>{% trans "Completed reports" %}: {{ reportCompleteCount }}</p>
  <p><a href="/reports/reportslist/" class="bot">{% trans "View reports" %}</a></p>
</div>

<div>
  {% for item in views %}
  <div><p>{{ item.name }} -{{ item.url }}: {{ item.totalReports }} {% trans "reports" %}</div>
  {% endfor %}
</div>
{% endif %}

</div>
{% endblock content %}
