{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div>
  <h2 class="form_title">{% translate "User credentials" %}</h2>
  <br>
</div>
<div class="form_content">
    <form method="post" class="cont">{% csrf_token %}
        {% csrf_token %}
        {{ form|crispy }}
        <p>{% if show_google_login %}<div id="google-connect" class="flex_start">
          
          <button class="submit-button" id="googleButton" onClick="location.href='{{ google_auth_url }}';return false;" type="button">
            <span class="mid_button"><img src="../../static/images/google.ico" alt="" style="height:1.5em">&nbsp;{% translate "Connect to Google Analytics" %}</span></button></div>
            
          {% else %}
          <button class="submit-button" id="googleButtonLogout" type="button" value="{% translate "Logout from Google" %}" >
            <span class="mid_button"><img src="../../static/images/google.ico" alt="" style="height:1.5em">&nbsp;{% translate "Logout from Google" %}</span></button></div>
          
          {% endif %}</p>

          <div><p align="center" class="mt2"><input type="submit" value="{% translate "Update Credentials" %}" class="btn-action"></p></div>
        
    </form>
  </div>
{% endblock %}

{% block inline_javascript %}
<script>

$("#googleButtonLogout").click(function (e) {
  // preventing from page reload and default actions
  e.preventDefault();
  $.ajax({
      type: 'GET',
      url: "/users/google_logout",
      success: function (response) {
        location.reload();
      }
  });
});
  </script>

{% endblock %}
