{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h1>{% translate "User credentials" %}</h1>
<br>

    <form method="post">{% csrf_token %}
        {% csrf_token %}
        {{ form|crispy }}

        <p>{% if show_google_login %}<div id="google-connect">
          <button id="googleButton" onClick="googleClicked();return false;" type="button">{% translate "Connect to Google Analytics" %}</button></div>
          {% else %}
          <span>{% translate "Already connected to Google" %}</span>
          {% endif %}</p>
        <input type="submit" value="{% translate "Update Credentials" %}">
    </form>
{% endblock %}

{% block inline_javascript %}
<script src="https://apis.google.com/js/platform.js?onload=googleStart" async defer></script>
<script type="text/javascript">
var auth2
function googleStart() {
    gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '{{ GOOGLE_CLIENT_ID }}',
          scope: 'https://www.googleapis.com/auth/analytics.readonly'
        });
      });      
}

function googleClicked() {
  auth2.grantOfflineAccess().then(signInCallback);
}      

function signInCallback(authResult) {
  if (authResult['code']) {

    // Hide the sign-in button now that the user is authorized, for example:
    $('#googleButton').attr('style', 'display: none');

    // Send the code to the server
    $.ajax({
      type: 'POST',
      url: '/users/~googlecredentials/',
      // Always include an `X-Requested-With` header in every AJAX request,
      // to protect against CSRF attacks.
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      },
      success: function(result) {
        // Handle or verify the server response.
      },
      data: {'authCode': authResult['code']}
    });
  } else {
    // There was an error.
  }
}
</script>
{% endblock inline_javascript %}
