{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block content %}

{% if object == request.user %}
<div>
  <p>{% trans "Reports" %}: {{ reportCount }}</p>
  <p>{% trans "Completed reports" %}: {{ reportCompleteCount }}</p>
  <p><a href="/reports/reportslist/" class="bot">{% trans "View reports" %}</a></p>
</div>

<div>
  <table class="table table-striped table-bordered dt-responsive compact nowrap dataTable no-footer">
  {% for item in views %}
  <tr><td>{{ item.name }}</td>
    <td>{{ item.url }}</td>
    <td> {{ item.totalReports }} {% trans "reports" %}</td>
    <td><a href="/views/decay/{{ item.pk }}">{% trans "View decay chart" %}</a></td>
  </tr></div>
  {% endfor %}
</table>
</div>
{% endif %}

</div>
{% endblock content %}
