{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div>
  <h2 class="form_title">{% translate "User thresholds" %}</h2>
  <p class="sub_title">{% trans "Adjust accordingly to your site below" %}</p>
</div>
<div class="form_content">
    <form class="cont" method="post" >
        {% csrf_token %}
        {% for field in form %}
        <div class="fieldWrapper">
          <div class="thresholdcontainer">
            <div class="thresholdlabel"><span>{{ field.label}}</span></div><div class="thresholdvalue">{{ field}}</div>
          </div>
          <div class="thresholdhelp">{{ field.help_text }}</div>
          <div class="error">{{ field.errors }}</div>
        </div>
        {% endfor %}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn-action">{% trans "Update" %}</button>
          </div>
        </div>
      </form>
    
  </div>
{% endblock %}
