{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h1 class="cap">{% translate "User credentials" %}</h1>
<br>

    <form method="post" class="cont">{% csrf_token %}
        {% csrf_token %}
        {{ form|crispy }}
        <p>{% if show_google_login %}<div id="google-connect">
          
          <button class="botgo" id="googleButton" onClick="location.href='{{ google_auth_url }}';return false;" type="button"><div><img src="../../static/images/google.ico" alt=""></div>{% translate "Connect to Google Analytics" %}</button></div>
          {% else %}
          <span>{% translate "Already connected to Google" %}</span>
          {% endif %}</p>
        <input type="submit" value="{% translate "Update Credentials" %}" class="bot">
    </form>
{% endblock %}